aarch64-elf/
bin/
.vscode/
libexec/gcc/aarch64-elf/4.8.2
share/
.gdb_history
include/
src/*tgz
src/emax6_sparselib/*.log
src/emax6_sparselib/*.txt
lib/
lib64/
sample/4dimage/472.pnm
sample/deeppose/data/wfc6
sample/graph-data/web-BerkStan.edges
sample/mm_cnn_lf/472.ini
sample/test/*.log
sample/test/*.tmp
proj-arm64/